/*************************************** TAG SELECTORS ***************************************/

html, body {
	/* font-family: 'Open Sans', sans-serif !important; */
	font-family: 'Raleway', sans-serif;
	color: #434242;
	height: 100%;
}

body {
    background-color: #a2d5f2;
    font-size: 1rem;
    line-height: 1.5;
}

.background-white {
    background-color: #FFF;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b, p {
	/* font-family: 'Open Sans', sans-serif !important; */
	font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}

h1, h5 {
    font-weight: 700;
    margin-bottom: 10px;
}

h2, h3 {
    font-weight: 300;
    color: #22A39F;
}

h2 {
    font-size: 54px;
    text-align: center;
}

h3 {
    font-size: 28px;
}

hr { 
	margin: 40px 0px; 
	border-color: #727878; 
	opacity: 0.2; 
	filter:alpha(opacity=20); 
}

p.lead {
	text-align: center;
	color: #727878;
}

/*************************************** CLASS SELECTORS ***************************************/

.container {
    padding: 7% 15%;
    max-width: 1280px;
}

/* Homepage */
.homepage {
	
	background: no-repeat center fixed url(../images/background1.jpg);
	opacity: 0.75;
	background-size: 100%;
	background-size: cover;
	padding: 11% 0;
	margin: 0;
}

.homepage .container {
	text-align: center;
	color: #FFFFFF;
}

.homepage .container h1 {
	font-size: 40px;
	padding-bottom: 20px; 
	border-bottom: 3px solid #FFFFFF; 
	border-bottom-color: rgba(255,255,255,0.35); 
	display: inline-block; 
}

.homepage .container .lead { 
	font-size: 28px; 
	color: #FFFFFF;
}

/* Profile */

#profile .row > div { 
    margin-bottom: 20px; 
}
#profile .row > div img { 
    width: 100%; 
    max-width: 246px; 
    height: auto; 
}

/* Experience */
.project-referal { 
    margin-top: 40px; 
    text-align: center;
}
.project-referal p { 
    font-style: italic; 
    color: #999999; 
}

.btn-primary { 
    background-color: #22A39F; 
    border-color: #1c8784; 
}
.btn-primary:hover { 
    background-color: #1c8784;  
    border-color: #1c8784; 
}


/****/

.description {
	text-align: justify;
}
ul.no-bullets { 
	list-style-type: none; 
	margin: 0px; 
	padding: 0px; 
}


/* Abilities */
#abilities ul > li { 
    min-height: 30px; 
    padding: 3px 0px; 
}
#abilities ul > li:hover { 
    background: #F2F2F2; 
}
#abilities ul > li .ability-title { 
    display: inline-block; 
    width: 60%; 
}
#abilities ul > li .ability-score { 
    float: right; 
}
#abilities ul > li .ability-score .star {
	color: #DFE0E0;
	font-size: 14px;

	-webkit-transition: all 0.3s; 
     -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#abilities ul > li .ability-score .star.filled { 
    color: #22A39F; 
}

#abilities ul > li:hover .ability-score .star { 
    margin-left: 2px; 
}


/* Projects */

#projects .row > div {
	margin-bottom: 30px;
}
#projects figure {
	position: relative;
	overflow: hidden;
}
#projects figure h3 {
	color: #FFF;
	font-weight: 600;
	margin-bottom: 5px;
}
#projects figure p > strong {
	width: 60px;
	display: inline-block;
    margin: 0px;
}
#projects figure img {
	width: 110%;
}
#projects figure figcaption {
    padding: 50px 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#projects figure .icon {
    background: #000;
    color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 48px;
	height: 48px;
}
#projects figure .icon .test {
    margin-left: 14px;
    margin-top: 14px;
    font-size: 20px;
}

/* Project effect */
figure.effect {
	background: #000;
	color: #FFF;
}

figure.effect figcaption {
	text-align: left;
}

figure.effect img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect:hover img {
	opacity: 0.2;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


figure.effect h3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
	opacity: 1;
}

figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect p {
	padding-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* contact */
#contact { 
    padding-bottom: 100px; 
    text-align: center;
}

.connect-us {
   
    margin: 2% 1%;
    color: black;
}

.connect-us:hover {
    color: gray;
}


/* Media Queries */

@media (max-width: 767px) {
	.homepage:before {
		bottom: 100px;
		left: 20px;
		right: 20px;
		top: 20px;
	}
	.homepage .container { top: 20%; padding-top: 0px; }


	.container { padding: 60px 20px; min-width: 280px; }
	.hidden-phone { display: none; }

	#profile .row * { text-align: center; }

	#projects figure figcaption {
		padding: 30px 30px;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
	}

	#contact { padding-bottom: 60px; }
}

@media only screen and (orientation: portrait) and (max-width: 767px)  {
    .homepage {
      background-size: auto 200%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px)  {

    .homepage {
      background-size: 150% auto;
      background-attachment: scroll;
    }

	.homepage .lead { display: none; }
}
